<h1>Tiny URL</h1>

<% if (user) { %>
  <%= console.log("user.email: ", user.email); %>
  <form action="/logout/" method="post">
    <p> User: 
    <%= user.email %>
    <a href="/urls/new"> Create new URL</a>
    <a href="/urls"> Home</a>
    <button type="submit">Logout</button>
    </p>
  </form>

<% } else {%>
  <%= console.log("NO COOKIE"); %>
  <a href="/login"> Login</a>
  <a href="/register"> Register new user</a>
<% }%>


