<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <br>
  <h2>Login's Page</h2>
  <br>
  
  <form action="/login" method="post">
    <h3>user's email</h3>
    <input id="email" type="email" name="email">
    <h3>Password</h3>
    <input id="password" type="password" name="password">
    <button>Login</button>
  </form>

</body>
</html>