<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <br>
  <h2>Login Page</h2>
  <h3> Please, Login first.</h3>
  <a href="/register"> Register new user</a>
  <br>
  <form action="/login" method="post">
    <h3>User's email</h3>
    <input id="email" type="email" name="email">
    <h3>Password</h3>
    <input id="password" type="password" name="password">
    <button>Login</button>
  </form>

</body>
</html>