<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
    <% include ../partials/_header%>

    <br>
    <br>
    <% for(const item in urls){ %> 
  <table >
    <tr>
      <td>
        <%= urls[item].shortURL %> --> <%= urls[item].longURL%>
        <form action="/urls/<%= urls[item].shortURL%>/delete" method="post">      
          <button>Delete</button>
        </form>

        <form action="/urls/<%= urls[item].shortURL%>">
          <button>Edit</button>
        </form> 
      </td>          
  </table>        
    <% } %>
</body>
</html>