<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
    <% include ../partials/_header%>

    <br>
    <br>
    <% for(const shortUrl in urls){ %> 
  <table >
    <tr>
      <td>
        <%= shortUrl %> --> <%= urls[shortUrl]%>
        <form action="/urls/<%= shortUrl%>/delete" method="post">      
        <a href= "/urls/<%= shortUrl%>/">Edit</a>
        <button>Delete</button>     
      </form> 
      </td>          
  </table>        
    <% } %>
</body>
</html>