<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include ../partials/_header%>
  <br>
  <h2><%= `ShortURL: ${urls.shortURL}` %></h2>
  <h2><%= `URL: ${urls.longURL}` %></h2>

  <form action="/urls/<%=urls.shortURL%>" method="post">
    <input id="shortURL" type="text" name="longURL">
    <button>Update URL</button>
  </form>

</body>
</html>