<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <br>
  <h2>Register Page</h2>
  <% console.log("Register HTML"); %>

  <form action="/register" method="post">
    <input id="email" type="email" name="email">
    <input id="password" type="password" name="password">
    <button>Register</button>
  </form>

</body>
</html>